/* Styling for Header */
.header {
  width: 100%;
  background-color: #31605a;
  padding: 40px;
  color: #ffffff;
  text-align: center;
}

.header__h1 {
  font-family: "Lobster", cursive;
  font-size: 60px;
  padding: 15px;
}

.header__paragraph {
  font-family: "Yusei Magic", sans-serif;
  font-size: 20px;
}
