.form {
  display: flex;
  justify-content: center;
}

.form-group {
  display: flex;
  width: 50%;
}

.form__button {
  background-color: #31605a;
  font-family: "Yusei Magic", sans-serif;
  font-size: 20px;
  color: #f2e9e4;
  padding: 5px 15px;
  border-radius: 8px;
}
